.cursor-glow{
    position:fixed;
    inset:0;

    pointer-events:none;

    background:
    radial-gradient(
        circle at center,
        rgba(157,78,221,.05),
        transparent 70%
    );

    z-index:9998;
}

.cursor-light{

    position:fixed;

    width:180px;
    height:180px;

    border-radius:50%;

    pointer-events:none;

    z-index:9999;

    background:
    radial-gradient(
        circle,
        rgba(199,125,255,.32),
        rgba(0,255,255,.08),
        transparent 72%
    );

    filter:blur(18px);

    mix-blend-mode:screen;

    will-change:transform;
}